/* .div__image {
  margin-right: 20px;
  width: 50%;
  border-radius: 20px;
  height: 280px;
  object-fit: cover;
} */
/* .images__crousel {
  width: 100%;
  height: inherit;
  border-radius: 17px;
} */

.div__image__center {
  width: 33.333%;
  border-radius: 25px;
  /* padding: 0.75rem; */
  /* margin-bottom: 2rem; */
  margin-right: 10px;
  /* border: ; */
  /* height: 580px; */
  /* background-color: red; */
  /* flex-basis: 80%; */
  /* border: 1px solid #e0e0e0; */
  /* flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer; */
  /* object-fit: fill; */
  /* min-height: 163px; */
  /* min-height: 280px; */
  /* max-height: 380px; */
}
.images__crousel__center {
  /* margin-bottom: 0.75rem; */
  border-radius: 8px;
  /* object-fit: contain; */
  width: 100%;
  object-fit: cover;
  height: 193px;
  /* object-fit: contain; */
  /* height: 200px; */
  /* height: 300px; */
}
.crousel__Back {
  padding: 20px 15px;
  border-radius: 8px;
  margin-right: 0;
  /* border: 2px solid green; */
  /* border-radius: 0; */
  margin-left: 0;
  background: url(https://d8it4huxumps7.cloudfront.net/uploads/images/d2c-icons/d2c-featured-bg.svg);
  background-size: cover;
  background-position: 100% 0;
}
.texts__back {
  margin-bottom: 25px;
  font-size: 20px;
  border-left: 4px solid #fff;
  padding-left: 11px;
  font-weight: 400;
  color: #ffffff;
  line-height: 22px;
}

@media only screen and (max-width: 768px) {
  .div__image__center {
    width: 100%;
    border-radius: 5px;
    /* background: red; */
    /* margin-right: 0px; */
    min-height: 100px;
  }
  .images__crousel__center {
    height: 163px;
    /* margin-bottom: "5px"; */
  }
  .crousel__Back {
    padding: 20px 10px 10px 13px;
    border: 1px dotted rgb(136, 97, 243);
  }
}
