.bold__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #383838;
}
.text__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #383838;
}
.section2__icons {
  font-size: 30px;
  /* margin-right: 10px; */
  color: #1973eb;
}
.section2__head {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
.section2__p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #6f6f6f;
}
.section2__borders {
  border: 1px solid #dce9fa;
  border-radius: 5px;
  padding: 10px 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  width: calc(33.333% - 10px);
}
