.Navbaar__style {
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);

  background-color: #e6ddc5;
}
.Navbaar__style:hover {
  background-color: #e1d9d1;
}
.img__div__Drawer {
  content: "";
  height: 100%;
  opacity: 0.8;
  background: url(https://d8it4huxumps7.cloudfront.net/images/d2c-logo/d2c-flashes.gif)
    no-repeat;
}
.image__logo__drawerhome {
  max-width: 120px;
  max-height: 38px;
  display: block;
  height: auto;
  width: auto;
}
.search__homeDrawer {
  border-radius: 50px;
  background: #eff3f4;
  height: 38px;
  width: 100%;
  font-size: 14px;
  color: #000;
  padding: 0 15px 0 50px;
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid #eff3f4; */
  border: 1px solid black;
  min-width: 290px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.grid__icon {
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  height: 24px;
  width: 24px;
  /* color: red; */
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /* -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga"; */
}

.home__avatar {
  width: 30px;
  height: 30px;
  /* font-size: 30px; */
  margin: 0 4px 0 0;
  cursor: pointer;
  /* box-shadow: 0 0 0 4px rgb(0 0 0 / 15%);
  border-radius: 50%; */
}
