/* body {
  outline: 1px dotted brown;
  background-color: yellow;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, san-serif;
  /* color: #101010; */
  /* outline: 1px dotted brown; */
}
